body {
    color: #000;
    // user-select: none;
    font-weight: normal;
    font-style: normal;
    font-size: 12em;
  }
  
.hdrbg {
   background-color: rgb(29, 62, 103);
   color: #FFF;
}

.currencyValue {
  width: 110px;
} 

